#svgContainer { 
	z-index: 0;
	position:absolute;
	opacity: 1;
}

#selectedGroup {
  width:300px;
  height:300px;
  background-color: #D8D8D8;
  border-radius:10%;
  border-style: solid;
  border-color: #337BB8;
  text-align:center;  
  overflow: hidden;
}

.col-sm-8 {
    background-color: rgb(248,248,248);
}

#title {
    font-size: 20px;
    color: #337BB8;
}

#circle2 {
  width:60px;
  height:60px;
  text-align:center;
}


h2 {
    margin-left:8px;
    margin-bottom:20px;
}

#stats1 {
    margin-left:10px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50%;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 30% 25%;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50%;
}


.btn-circle.btn-xxxl {
  width: 124px;
  height: 124px;
  padding: 10px 10px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50%;
}

.btn-circle.btn-xxxxl {
  width: 180px;
  height: 180px;
  padding: 10px 10px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50%;
}

.mainMenu{
    overflow-x: scroll;
    overflow-y: scroll;
}

.leftAlign{
  text-align: left
}


.btn-circle-sm {
  width: 58px;
  height: 58px;
  padding: 1.5% 1%;
  border-radius: 50%;
}