#avatar {
    position: relative;
    bottom: 500px;
    left: 375px;
}

#group1 {
    position: relative;
    bottom: 600px;
}

#group2 {
    position: relative;
    bottom: 400px;
    left: 450px;
}

#svgContainer { 
	z-index: 0;
	position:absolute;
	opacity: 0.5;
}

#circle1 {
    position: relative;
    bottom: -30px;
    left:100px;
    width:300px;
	height:300px;
	background-color: #D8D8D8;
	border-radius:100%;
    border-style: solid;
    border-color: #337BB8;
	text-align:center;
	line-height:80px;
}


span
{
    line-height: normal;
    display:inline-block;
    vertical-align: middle;
    font-size: 19px;
}

.col-sm-8 {
    background-color: rgb(248,248,248);
}

#title {
    font-size: 20px;
    color: #337BB8;
}

#circle2 {
    position: relative;
    bottom: 175px;
    left:770px;
    width:60px;
	height:60px;
	text-align:center;
}

#circle3 {
    position: relative;
    bottom: -320px;
    left:370px;
    width:60px;
	height:60px;
	background-color: #D8D8D8;
	border-radius:100%;
	text-align:center;
}

#add {
    font-size: 60px;
    position: relative;
    bottom: 12px;
}

#add2 {
    text-decoration: none;
}

h2 {
    margin-left:8px;
    margin-bottom:20px;
}

#stats1 {
    margin-left:10px;
}