.user-avatar img{
  width: 100%;
}

.post-footer{
  padding-top: 30px;
  font-size: 11px;
}

.submit-button{
  margin-top: 10px;
}

.user-avatar figcaption{
  text-align: center;
  font-size: 12px;
}

#sidebar{
  margin-top: 60px;
}

.post{
  margin: 30px 0;
}

.container{
  margin-top: 0px;
}